{% extends "main.html" %}

{% include "header.html" %}
{% block content %}

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    {% if messages %}      
      <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
	<div class="container main-background">
    <div class="row">
      <div class="col-md-6">
      	<h1 style="font-weight: bold">Playlists</h1>
          <ul>
            {% for playlist in playlists %}
            <a href ="{{url_for('showSongs',playlist_id = playlist.id)}}"><h2>{{playlist.name}}</h2></a>
            {% endfor %}
          </ul>
      </div>
      {% block playlist %}
      {% endblock %}
    </div>
	</div>


{% endblock %}