{% extends "playlists.html" %}

{% block playlist %}

<div class="col-md-6">
    <h1 class="song-left">song</h1>
	{% if 'username' in session %}
    <a class="songadd-right" href="{{url_for('newSong',playlist_id = playlist.id)}}">Add songs</a> 
    <a class="songadd-right" href="{{url_for('editPlaylist',playlist_id = playlist.id)}}">Edit playlist</a> 
    <a class="songadd-right" href="{{url_for('deletePlaylist',playlist_id = playlist.id)}}">Delete playlist</a> 
    {% endif %}
    <div style="clear:both;"/>
    <ol>
    {% for song in songs %}
    <li><a href ="{{url_for('showSong',playlist_id = playlist.id,song_id= song.id)}}"><h2>{{song.name}}</h2></a></li>
    {% endfor %}    
    </ol>
</div>

{% endblock %}